@model IEnumerable<Hunger.EF.Models.Deliver_Req>

@{
    ViewBag.Title = "DeliverView";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}

<h2>Product for Deliver</h2>

@if (ViewBag.count != 0)
{
    <table class="table">
        <tr>
            <th>
                Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Resturant Name
            </th>
            <th>
                Food Quantity
            </th>
            <th>
                Expire Date
            </th>
            <th>
                Assing Date
            </th>
            <th>
                Status
            </th>
        </tr>

        @foreach (var item in Model)
        {
            int expire = DateTime.Compare(DateTime.Now, item.Expire_Date);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resturant_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Food_Quality)
                </td>
                @if (expire < 0)
                {
                    <td style="color: forestgreen;">
                        @Html.DisplayFor(modelItem => item.Expire_Date)
                    </td>
                }
                @if (expire > 0)
                {
                    <td style="color: red;">
                        @Html.DisplayFor(modelItem => item.Expire_Date)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.Assing_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status_Delivery)
                </td>
                <th><a href="/Employee/PerformDeliver/@item.Id">Deliver</a> </th>
            </tr>
        }

    </table>
}
@if (ViewBag.count == 0) 
{
    <h1>No Assigned Food to Delever</h1>
}


