@model IEnumerable<Hunger.EF.Models.Duplicate_Coll>

@{
    ViewBag.Title = "ColReqView";
    Layout = "~/Views/Shared/_LayoutPageIns.cshtml";
}
<h2>Previous Request</h2>

@if (ViewBag.count != 0)
{
    <table class="table">
        <tr>
            <th>Id</th>
            <th>
                Resturant Name
            </th>
            <th>
                Food Quantity
            </th>
            <th>
                Request Date
            </th>
            <th>
                Expire Date
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Institution.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReqDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpDate)
                </td>
            </tr>
        }

    </table>
}
@if (ViewBag.count == 0)
{
    <h1>No Previous Request by @Session["UN"]</h1>
}
